{% extends "appCoder/main.html" %}

{% load static %}

{% block title %}
Sobre nosotros
{% endblock %}

{% block description %}
Te contamos sobre nosotros
{% endblock %}

{% block items %}
<body>
    <p>
        <h4>
            Nos salió una visa de trabajo en Alemania y nos vamos a vivir unos años al viejo continente.<br>
            Por este motivo, decidimos vender lo que tenemos en casa. <br> 
            Lo organizamos por categorias para que puedas encontrar lo que te interese más rápido.
            Inicia sesión (podes crearte un usuario si es la primera vez que entras) y empezá a ver todo lo que tenemos para vender. <br>
            Todo lo que recaudemos de las ventas nos va a ayudar a prepararnos para nuestro viaje. <br>

        </h4>
    </p>

</body>


{% endblock %}