{% extends "appCoder/main.html" %}

{% load static %}

{% block title %}
Productos a la venta
{% endblock %}

{% block description %}
Todos los items a la venta
{% endblock %}

{% block items %}
<body>
    <form action="" method="POST"> {% csrf_token %}
        
        <table>

                {{form_item.as_table}}

        </table>

        <input type="submit" value="enviar">
    </form>
</body>

<body>
    <br>
    <p>
        ACA PODES BUSCAR CATEGORIAS
    </p>
</body>

<body>

    <form action="/appCoder/mostrar_items/" method="GET">

        <input type="text" name="busqueda_items" title="busqueda_items">

        <input type="submit" value="Buscar">

    </form>

</body>
<body>

    <p> Estamos buscando el item: {{busqueda_items}}</p>

    {% for item in items %}
        <p>
            Items: {{item.title}}
        </p>
    {% endfor %}

</body>
{% endblock %}